body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Box{
    width: 100vh;
    background-color: silver;
    color: violet;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
}